@model BookReader.Web.ViewModels.User.UserViewModel

<link href="~/css/login.css" asp-append-version="true" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>


<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>Forgot your password?</h2>
			<h4>Please enter the email address registered on your account.</h4>
			<hr />
			<div class="panel panel-login">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<form id="login-form" asp-controller="User" asp-action="ForgotPassword" method="post" role="form">
								<div class="form-group">
									@Html.ValidationMessage("SentPassword", null)
									@Html.ValidationMessage("NoExistedEmail", null, new { @class = "text-danger" })
									@Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @type = "email" })
									@Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<button type="submit" class="form-control btn btn-login">Reset Password</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
